PORT=3001
CORS_ORIGIN=http://localhost:5173
ALBION_API_ASIA_URL=https://east.albion-online-data.com
ALBION_API_AMERICA_URL=https://west.albion-online-data.com
ALBION_API_EUROPE_URL=https://europe.albion-online-data.com
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=albionBM
PG_USER=your_postgres_user
PG_PASSWORD=your_postgres_password
