@import "tailwindcss";

@theme {
  --font-serif: var(--font-merriweather), ui-serif, Georgia, serif;
  --font-sans: var(--font-open-sans), ui-sans-serif, system-ui, sans-serif;
}

.hero-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
